*{
    margin: 0px;
    padding: 0px;
}
.header-img{
    width: 400px;
}
.header-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    background-color: rgb(254, 230, 234)
}
.header-container{
    width: 800px;
}
.header-title{
    margin-bottom: 8px;
   font-size: 30px;
}
.header-description{
    margin-bottom: 10px;
    font-size: 15px;
}
.btn-primary{
    padding: 10px;
    border: none;
    background-color:rgb(219, 126, 126);
    color: white;
    border-radius: 5px;
    
    
}
.btn-primary:hover{
    background-color: brown;
}


/* feature section */

.feature-title{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
.title{
    font-size: 35px;
    margin-bottom: 15px;
}
.img-container{
    display: flex;
   justify-content: space-evenly;
   
    text-align: center;

}

.feature-img{
    width: 150px;
}
.img-box1{
   text-align: center;
   background-color:pink;
   border-top-left-radius: 150px;
   border-top-right-radius: 150px;
   padding:60px;
   width: 200px;
   height: 250px;
   margin-bottom: 10px;
   
}
.img-box2{
   text-align: center;
   background-color: rgb(203, 203, 241);
   border-top-left-radius: 150px;
   border-top-right-radius: 150px;
   padding:60px;
   width: 200px;
   height: 250px;
   margin-bottom: 10px;
   
}
.img-box3{
   text-align: center;
   background-color:rgb(189, 238, 189);
   border-top-left-radius: 150px;
   border-top-right-radius: 150px;
   padding:60px;
   width: 200px;
   height: 250px;
   margin-bottom: 10px;
   
}

/* extra section */

.flowers-logo{
    background-color: rgb(237, 199, 199);
    border-radius: 5px;
    padding: 10px;
 
}
.flowers-container{
    background-color: pink;
    display: flex;
    justify-content: space-around;
    padding: 50px;

}
.btn-secondary{
    padding: 10px;
    border: none;
    background-color:rgb(219, 126, 126);
    color: white;
    border-radius: 5px;
    text-align: center;
    margin: 20px;
}
.flower-section{
    text-align: center;
}
.flower-title{
    margin: 30px;
    background-color: palevioletred;
    color: rgb(10, 10, 10);
    padding: 20px;
    border-radius: 10px;
}

/* logo section */

.logo-container{
    display: flex;
    justify-content:space-around;
    margin-top: 60px;
    margin-bottom: 30px;
    background-color:rgb(202, 199, 199);
    margin-left: 200px;
    margin-right: 200px;
    padding: 50px;
    border-radius: 6px;
    
}
.single-logo{
    text-align: center;
}
.logo{
    width: 100px;
    /* margin-bottom: 20px; */
}
/* instagram section */
.insta-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(254, 230, 234) ;
    margin-top: 100px;
    padding:50px
}
.logo-title{
    text-align: center;
}
.span-class{
    color: rgb(197, 7, 7);
}
/* /* insta section 2 * */

.insta{
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
}
.insta-image{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.insta-title{
    text-align: center;
}

/* input with background */
.image-container {
    position: relative;
    width: 400px; 
    height: 300px;
   margin-left: 400px;
}
.image-container img {
  
    object-fit: cover;
    width: 1100px;
    height: 250px;
    border-radius: 5px;
}
.input-field {
    position: absolute; 
    top: 50%; 
    left: 120%; 
    transform: translate(-50%, -50%); 
    padding: 15px ;
    border: 1px solid #ccc; 
  border-radius: 5px;
    
}
.btn-input{
    position: absolute; 
    top: 45%; 
    left: 160%; 
    transform: translateX(-50%); 
    padding: 10px 10px; 
    background-color: rgb(219, 126, 126); 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer; 
}
.details-input{
    position: absolute;
    top:10%;
    left:90%;
     
    translate:translateX(-50%) ;
    padding:10px ;
    width: 300px;
    text-align: center;
   

}


/* footer section */
.footer{
    text-align: center;
    background-color: black;
    padding: 100px;
}
.footer-title{
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
}
.footer-description{
    color: white;
    font-size: 10px;
    margin-bottom: 15px;
   
}
.footer-identity{
    color: white;

}
.flower{
    color: rgb(171, 25, 25);
}