*{
    margin: 0px;
    padding: 0px;
}
.header-img{
    width: 400px;
}
.header-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    background-color: rgb(254, 230, 234)
}
.header-container{
    width: 800px;
}
.header-title{
    margin-bottom: 8px;
   font-size: 30px;
}
.header-description{
    margin-bottom: 10px;
    font-size: 15px;
}
.btn-primary{
    padding: 10px;
    border: none;
    background-color:rgb(219, 126, 126);
    color: white;
    border-radius: 5px;
    
    
}
.btn-primary:hover{
    background-color: brown;
}


/* feature section */

.feature-title{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
.title{
    font-size: 35px;
    margin-bottom: 15px;
}
.img-container{
    display: flex;
   justify-content: space-evenly;
   
    text-align: center;

}

.feature-img{
    width: 150px;
}
.img-box1{
   text-align: center;
   background-color:pink;
   border-top-left-radius: 150px;
   border-top-right-radius: 150px;
   padding:60px;
   width: 200px;
   height: 250px;
   
}
.img-box2{
   text-align: center;
   background-color: rgb(203, 203, 241);
   border-top-left-radius: 150px;
   border-top-right-radius: 150px;
   padding:60px;
   width: 200px;
   height: 250px;
   
}
.img-box3{
   text-align: center;
   background-color:rgb(189, 238, 189);
   border-top-left-radius: 150px;
   border-top-right-radius: 150px;
   padding:60px;
   width: 200px;
   height: 250px;
   
}

/* logo section */

.logo-container{
    display: flex;
    justify-content:space-around;
    margin-top: 60px;
    margin-bottom: 30px;
    background-color:rgb(202, 199, 199);
    margin-left: 200px;
    margin-right: 200px;
    padding: 50px;
    border-radius: 6px;
    
}
.single-logo{
    text-align: center;
}
.{
    width: 100px;
    margin-bottom: 20px;
}
/* instagram section */
.insta-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(254, 230, 234) ;
    margin-top: 100px;
    padding:50px
}
.logo-title{
    text-align: center;
}
.span-class{
    color: rgb(197, 7, 7);
}
/* /* insta section 2 * */

.insta{
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
}
.insta-image{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.insta-title{
    text-align: center;
}
